.header {
  width: 100%;
  height: 108px;
  display: inline-flex;
  align-items: center;
  text-align: center;


  &_text {
    font-size: 24px;
    font-weight: 700;
    color: #828282;
    margin: 0 auto;
    flex-grow: 3;
  }



  &_time {
    color: #006666;
    font-size: 24px;
    font-weight: 500;
  }

  &_icon {
    margin-right: 10px;
    margin-left: 40px;
  }

  &_hint {
    margin-right: 3%;
  ;
  }
}
