.body {
  //background: rgb(255,255,255);
  //background: linear-gradient(141deg, rgba(255,255,255,1) 82%, rgba(228,255,254,0.49653364763874297) 87%, rgba(55,236,227,0.5217437316723564) 99%);

}

.mainBlock {
  display: flex;
  flex-direction: column;
  align-items: center;

}



.block {
}

